@model IEnumerable<Treinamento.Models.Album>

@{
    ViewBag.Title = "Busca";
    var context = ViewContext.RequestContext;
    var values = new RouteValueDictionary
    {
        {"controller", "Album"},
        {"action", "Busca"}
    };

    var path = RouteTable.Routes.GetVirtualPath(context, values);
}

<h2>Busca</h2>

@path.VirtualPath
@using (Html.BeginForm("Busca", "Album", FormMethod.Get))
{
    @Html.Label("Generos")
    @Html.DropDownList("IdGenero", null, "Escolha um genero")
    
    @Html.Label("Titulo")
    @Html.TextBox("Titulo", "", new { placeholder = "Digite aqui o titulo do album" })
    <input type="submit" value="Buscar" />
}

@Html.Partial("_AlbumDisplay", Model)

@Html.Action("Index", "Genero")