@model Treinamento.Models.Album
@using Treinamento.Helpers
@{
    ViewBag.Title = "Criar";
}

<h2>Criar</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.Id)

    @Html.LabelFor(m => m.Titulo)
    @Html.EditorFor(m => m.Titulo)
    @Html.ValidationMessage("Titulo")

    @Html.LabelFor(m => m.GeneroId)
    @Html.EditorFor(m => m.GeneroId)
    @Html.ValidationMessage("GeneroId")

    @Html.LabelFor(m => m.ArtistId)
    @Html.EditorFor(m => m.ArtistId)
    @Html.ValidationMessage("ArtistId")

    @Html.LabelFor(m => m.Valor)
    @Html.EditorFor(m => m.Valor)
    @Html.ValidationMessage("Valor")

    @Html.LabelFor(m => m.UrlArte)
    @Html.EditorFor(m => m.UrlArte)
    @Html.ValidationMessage("UrlArte")


    
    <input type="submit" value="Salvar"/>
}

@Html.LinkVoltar("Clique aqui para voltar")

@helper ListingItems(params string[] items)
{
    <ol>
        @foreach (string item in items)
        {
            <li>@item</li>
        }
    </ol>
}

<h1>Linguagens de Programação</h1>

@ListingItems("C# for dummies", "C++ for dummies", "C# for dummies")
