@using Treinamento.Helpers
@{
    ViewBag.Title = "Criar";
}

<h2>Criar</h2>

@Html.BeginForm();

<form method="POST">

    @Html.ValidationMessage("Titulo")
    <label>
        Titulo<input type="" value="" name="Titulo"/><br/>
    </label>
    <label>
        GeneroId<input type="" value="" name="GeneroId"/><br/>
    </label>
    <label>
        ArtistaId<input type="" value="" name="ArtistaId"/><br/>
    </label>
    <label>
        Valor<input type="" value="" name="Valor"/><br/>
    </label>
    <label>
        UrlArte<input type="" value="" name="UrlArte"/><br/>
    </label>

    <input type="submit" value="Salvar"/>
</form>

@Html.LinkVoltar("Clique aqui para voltar")

@helper ListingItems(params string[] items)
{
    <ol>
        @foreach (string item in items)
        {
            <li>@item</li>
        }
    </ol>
}

<h1>Linguagens de Programação</h1>

@ListingItems("C# for dummies", "C++ for dummies", "C# for dummies")
