@model IEnumerable<Treinamento.Models.Album>

@{
    ViewBag.Title = "Index";
}

<h2 id="trocaCor">Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Genero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Artista)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UrlArte)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Genero.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artista.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UrlArte)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

    <input type="button" value="Trocar Cor do Titulo" onclick=" alternar(); " />

</table>
<div>
    <div class="red"></div>
    <div class="red"></div>
    <div class="red"></div>
    <div class="red"></div>
    <div class="clear">
        <input type="button" value="Mostrar" onclick=" mostrar(); " />
    </div>
</div>

<div>
    <p>No meio do caminho tinha uma pedra</p>
    <p>nunca me esquecerei</p>
    <p>Carlos Drumond de Andrade</p>
</div>

<div>
    <h1 language="Portuguese">Selecionando Elementos</h1>
    <h1 language="English">Selecting Elements</h1>
    <h1 language="German">Auswashien von Element</h1>

    <a href="#" lang="Portuguese">Português</a>
    <a href="#" lang="English">Inglês</a>
    <a href="#" lang="German">Alemão</a>
</div>
<div>
    <div class="tipo">Div 1</div>
    <span class="tipo">Span 1</span>
    <div class="tipo">Div 2</div>
    <span class="tipo">Span 2</span>
</div>

<div>
    <hr/>
    <p>Usando jquery para selecionar checkboxes</p>
    <label>Checar todos<input type="checkbox" value="" id="principal"/></label><br/>

    <label>Opção 1<input type="checkbox" value="1"/></label><br/>
    <label>Opção 2<input type="checkbox" value="2"/></label><br/>
    <label>Opção 3<input type="checkbox" value="3"/></label><br/>
    <label>Opção 4<input type="checkbox" value="4"/></label><br/>
    <label>Opção 5<input type="checkbox" value="5"/></label><br/>

</div>

<div id="select_exercise">
    <h3>Usando jQuery para popular select com html dos paragrafos</h3>
    <hr/>
    <p>Paragrafo 1</p>
    <p>Paragrafo 2</p>
    <p>Paragrafo 3</p>
    <p><span>Paragrafo 4</span></p>

    <select id="elemento"></select>

    <input type="button" value="Selecionando Elemento" onclick=" seleciona($('#elemento').val()) "/>
</div>

<div id="exercise_contains_append">
    <h3>Usando jQuery para adicionar tag strong</h3>

    <p>Você ganhou!</p>
    <p>Você não ganhou!</p>
    <p>Você não ganhou!</p>
</div>

<div id="exercise_texto_inicio_fim">
    <h3>Adicionando texto antes e depois do alvo</h3>
    <p id="alvo">esse é o alvo</p>
</div>


<div id="unbind">
    Exemplo Unbind, clique para testar
</div>

@section scripts
{
    <script type="text/javascript">
        function alternar() {
            $("#trocaCor").toggleClass("listrado");
        }

        function mostrar() {
            $("div").show();
        }

        $(document).ready(function () {
            alert($('tr').size() - 1);

            $('div.red').click(function () {
                $(this).hide();
            });


            $("p:contains(pedra)").css("color", "blue");
            $("p:contains(nunca)").css("color", "red");
            $("p:contains('Carlos Drumond de Andrade')").css("float", "right");

            $("[language='German'], [language='English']").hide();
            $("[language='Portuguese']").hide();

            $("a[lang]").click(function () {
                $("[language]").hide();
                $("[language= " + $(this).attr("lang") + "]").show();
            });

            $('.tipo').each(function () {
                if ($(this).is('div')) {
                    $(this).css({
                        margin: '5px',
                        width: '100px',
                        height: '100px',
                        backgroundColor: 'green'
                    });
                }
            });

            $('#principal').click(function () {
                var statusAtual = $(this).is(':checked');

                $('[type=checkbox]').not($(this)).each(function () {
                    $(this).prop('checked', statusAtual);
                });
            });

            $('#select_exercise p').each(function (i) {
                $('#elemento').append(new Option($(this).html(), i));
            });


            $('#exercise_contains_append p:contains("Você ganhou")').append("<strong> R$ 1,00 </strong>");


            $('#exercise_texto_inicio_fim #alvo').before('<p>Novo elemento antes</p>');
            $('#exercise_texto_inicio_fim #alvo').after('<p>Novo elemento depois</p>');


            $('div#unbind').click(function(event) {
                alert('Este será mostrado apenas uma vez!');
                $(this).unbind(event);
            });

            $('div#unbind').css({
                backgroundColor: 'yellowgreen',
                width: '100%',
                height: '100%'
            }).css('color', 'blue');
        });

        function seleciona(indice) {
            alert($($('#select_exercise p').get(indice)).text());
        }

    </script>
}

<style type="text/css">
    h2.listrado {
        background-color: grey;
    }

    .red {
        background-color: indianred;
        color: red;
        float: left;
        width: 100px;
        height: 100px;
        margin: 10px;
    }

    .clear {
        clear: both;
    }
</style>
