@model IEnumerable<Treinamento.Models.Album>

@{
    ViewBag.Title = "Index";
}

<h2 id="trocaCor">Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Genero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Artista)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UrlArte)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Genero.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artista.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UrlArte)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                @Html.ActionLink("Details", "Details", new {id = item.Id}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.Id})
            </td>
        </tr>
    }

    <input type="button" value="Trocar Cor do Titulo" onclick=" alternar(); "/>

</table>
<div>
    <div class="red"></div>
    <div class="red"></div>
    <div class="red"></div>
    <div class="red"></div>
    <div class="clear">
        <input type="button" value="Mostrar" onclick=" mostrar(); "/>
    </div>
</div>

<div>
    <p>No meio do caminho tinha uma pedra</p>
    <p>nunca me esquecerei</p>
    <p>Carlos Drumond de Andrade</p>
</div>

<div>
    <h1 language="Portuguese">Selecionando Elementos</h1>
    <h1 language="English">Selecting Elements</h1>
    <h1 language="German">Auswashien von Element</h1>

    <a href="#" lang="Portuguese">Português</a>
    <a href="#" lang="English">Inglês</a>
    <a href="#" lang="German">Alemão</a>
</div>
<div>
    <div class="tipo">Div 1</div>
    <span class="tipo">Span 1</span>
    <div class="tipo">Div 2</div>
    <span class="tipo">Span 2</span>
</div>

@section scripts
{
<script type="text/javascript">
    function alternar() {
        $("#trocaCor").toggleClass("listrado");
    }

    function mostrar() {
        $("div").show();
    }

    $(document).ready(function () {
        alert($('tr').size() - 1);

        $('div.red').click(function() {
            $(this).hide();
        });


        $("p:contains(pedra)").css("color", "blue");
        $("p:contains(nunca)").css("color", "red");
        $("p:contains('Carlos Drumond de Andrade')").css("float", "right");

        $("[language='German'], [language='English']").hide();
        $("[language='Portuguese']").hide();

        $("a[lang]").click(function() {
            $("[language]").hide();
            $("[language= " + $(this).attr("lang") + "]").show();
        });

        $('.tipo').each(function() {
            if ($(this).is('div')) {
                $(this).css({
                    margin: '5px',
                    width: '100px',
                    height: '100px',
                    backgroundColor: 'green'
                });
            }
        });
    });
</script>
}

<style type="text/css">
    h2.listrado {
        background-color: grey;
    }

    .red {
        background-color: indianred;
        color: red;
        float: left;
        width: 100px;
        height: 100px;
        margin: 10px;
    }
    .clear {
        clear: both;
    }
</style>

