@model Treinamento.Core.Model.Pessoa

@{
    ViewBag.Title = "Pessoa";
}
@section scripts
{
    <script src="@Url.Content("~/Scripts/Pessoa/scriptCidade.js")"></script>
    <script>
        var scriptCidade;
        var urlCidade = '@Url.Action("AjaxOption", "Cidade")';

        $(function() {
            scriptCidade = new scriptCidade("Estados", "IdCidade", urlCidade);
            scriptCidade.iniciar();
        });
    </script>
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.Nome)
            @Html.EditorFor(model => model.Nome)
            @Html.ValidationMessageFor(model => model.Nome)
        </div>

        <div class="form-group">
            @Html.Label("Estados", "Estado")
            @Html.DropDownList("Estados", null, "Selecione um estado")
            @Html.Label("IdCidade", "Cidade")
            @Html.DropDownList("IdCidade")
        </div>

        <div class="form-group">
            <div>
                @Html.ActionLink("Voltar", "Index")
                <input type="submit" value="Salvar" class="btn btn-submit"/>
            </div>
        </div>
    </div>
}
